*.o
Debug
Release
obj
*.depend
*.layout
*.*~*
*.*~*
!*.*~*.*
*.old
*_d.so
*_d
*_d.dll
*_d.exe
cncremote-linuxcnc
drivers/linuxcnc/server/version.h
*.ilk
*.pdb
*.ncb
/drivers/Sim/server/.vs/sim/v15/ipch/AutoPCH/15a07c39c17298d3/*.ipch
*.ipch
*.suo
*.db
*.opendb
*.user
*.filters
/libraries/rpcliba
*.obj
/build/vc/CncRemote/Release static
